body * {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'K2D', sans-serif;
    background: rgb(0, 56, 112);
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }

.main {
    width: 100vw;
    height: 100vh;
    background: #003870;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_left {
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div_right {
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF71;
}

.div_login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 30px;
    background: #00000038;
    border-radius: 15px;
}

input[type=text],
input[type=password] {
    width: 16vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    font-family: 'K2D', sans-serif;
    border-radius: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-weight: bold;
    color: #000000be;
}

input[type=submit] {
    margin-bottom: 5%;
    margin-right: 30px;
    margin-left: 30px;
}


input[type=submit],
[type=button] {
    width: 5vw;
    height: 5vh;
    padding: 1px;
    background: #01ACEA;
    border-radius: 22px;
    border: none;
    outline: none;
    color: white;
    font-family: 'K2D', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5%;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all .5s;

}




input[type=submit]:hover,
[type=button]:hover {
    box-shadow: 4px 0px 24px #00E0FF;
}

input[type=submit]:active,
[type=button]:active {
    box-shadow: none;
    transition: all .1s;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    padding: 0;
    margin: 0;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: white;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 10vw;
    text-shadow: -7px 4px 4px rgba(0, 0, 0, 0.25)
}

h2 {
    color: #01ACEA;
    font-weight: normal;
    text-shadow: -7px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 10vw;
}

h3 {
    font-size: 2em;
    margin: 0;
    color: #01ACEA;
    font-weight: normal;
    text-shadow: -7px 4px 4px rgba(0, 0, 0, 0.25);
    display: inline;
}

.padlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    margin-bottom: 10px;
    box-sizing: border-box;
    filter: drop-shadow(-11px 5px 4px rgba(0, 0, 0, 0.25));
}

.padlock:hover {
    animation: shake 1s;
}

@keyframes shake {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(5px)
    }

    50% {
        transform: translateY(-5px)
    }

    75% {
        transform: translateY(5px)
    }

    100% {
        transform: translateY(0)
    }
}

input::placeholder {
    font-size: 1rem;
}

.boxBotoes {
    display: flex;
    flex-direction: row;
    width: 100%;

}

@media only screen and (orientation: portrait) {
    .main {
        flex-direction: column;
        height: 60vh;
        background: rgb(0, 56, 112);
    }

    .div_login {
        width: 100%;
        padding-bottom: 0;
        padding-top: 0;
    }

    .div_right {
        width: 60vw;
        height: 40%;
        background-color: #00000000;
        border: none;
    }

    .padlock {
        display: none;
    }

    input[type=text],
    input[type=password] {
        width: 48vw;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    input[type=submit],
    [type=button] {
        border-radius: 25px;
        width: 20vw;
        height: 5vh;
        font-size: 1rem;
        margin-left: 0;
        margin-bottom: 5%;
        padding: 0;
        letter-spacing: 2px;
        transition: all .5s;
        background: #01ACEA;
        border: none;
        outline: none;
        color: white;
        font-family: 'K2D', sans-serif;
        font-weight: bold;
        cursor: pointer;

    }

    .imagem {
        width: 50%;
        margin: 90px 90px 90px 0px;
    }

    input::placeholder {
        font-size: 1rem;
    }

    h3 {
        font-size: 3rem;
        margin: 0;
        color: #01ACEA;
        font-weight: normal;
        text-shadow: -7px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .titulo {
        margin: 90px;
    }

    h2 {
        margin-right: -90px;
    }
}

@media only screen and (max-height: 770px) {
    .div_login {
        margin-bottom: 10vw;
    }
}

@media only screen and (max-height: 480px) {
    .div_login {
        margin-bottom: 10vw;
    }

    #imagem {
        display: none;
    }

    input[type="submit"],
    [type="button"] {
        border-radius: 25px;
        width: 16vw;
        height: 12vh;
        font-size: 1rem;
    }

    h3 {

        font-size: 4em;
        margin-bottom: 2vw;

    }

    input[type=text] {
        margin-bottom: 0px;
    }
}
