|* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'K2D', sans-serif;
    background-color: #D3D3D3;
}


.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }
.cabecalho {
    background-color: #FFFFFF21;
    height: 80px;
}

.logo {
    display: inline-block;
    width: 250px;
    height: 50px;
    padding: 10px;
}

.logo img {
    height: 100%;
    width: 100%;
}

.menuToggle {
    float: right;
    margin: 20px 20px;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 250px;
    padding: 25px;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all.5s;
}

.menu a:hover {
    border-bottom: 1px solid white;
}

body {
    margin: 0;
    font-family: 'K2D', sans-serif;
    background: rgb(0, 56, 112);

}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.primeira,
.terceira{
width: 50vw;
background-color: #06638078;
height: 65vh;
margin-left: 16vh;
margin-right: 16vh;
border-radius: 20px;
border: 2px solid rgb(255, 255, 255);

}

.segunda{
    width: 50vw;
    background-color: #066380;
    height: 70vh;
    margin: 3vh;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255)
}

.primeira h1{
    border-bottom: 2px solid rgb(255, 255, 255)
}


h1{
color: #ffffff;
text-align: center;
font-size: 5em;
margin: 0;
padding: 0;


}

h2{
    color: #ffffff;
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid rgb(255, 255, 255)
}

.paragrafo{
    color: #ffffff;
    text-align: center;
    font-size: 1.1vw;
    text-decoration: underline  rgb(255, 255, 255);
    padding: 10px;
}


.segunda .paragrafo{
    font-size: 1.1vw;
}


.botao{
    background-color: #01ACEA;
    border: none;
    width: 15vw;
    height: 7vh;
    border-radius: 25px;
    font-size: 3em;
    align-items: center;
    margin-left: 15%;
    color: white;
    font-family: 'K2D';
    font-style: normal;
    font-weight: 700;
}

.botao:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.438);
    transition: all .3s;
    cursor: pointer;

}

.primeira .botao{
    margin-top: 17vh;

}

.segunda .botao{
    margin-top: 5vh;
}

.terceira .botao{
    margin-top: 10vh;
}

.primeira:hover,
.segunda:hover,
.terceira:hover{
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.623);
    transition: all .3s;
}


.fim{
    display: flex;
    align-items: center;
    justify-content: center;

}