|* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'K2D', sans-serif;
    background-color: #D3D3D3;
}

.cabecalho {
    background-color: #FFFFFF21;
    height: 80px;
}

.logo {
    display: inline-block;
    width: 250px;
    height: 50px;
    padding: 10px;
}

.logo img {
    height: 100%;
    width: 100%;
}

.menuToggle {
    float: right;
    margin: 20px 20px;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 250px;
    padding: 25px;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all.5s;
}

.menu a:hover {
    border-bottom: 1px solid white;
}

body {
    margin: 0;
    font-family: 'K2D', sans-serif;
    background: rgb(0, 56, 112);

}

.erro{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    margin-left: 35%;


}

h1{
    font-size: 7rem;
    color: white;
    font-weight: bolder;
    width: 50vw;
    margin-left: 35%;
}



@media(max-width: 1700px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    #Upload {
        font-size: 2em;
    }
}

@media(max-width: 998px) {
    #Upload {

        width: 60%;
        height: 10vh;
        font-size: 3em;
        padding: 5px;
    }
}

@media(min-width: 753.5px) {
    .menuToggle {
        display: none;
    }
}

@media(max-width: 754px) {
    .menu {
        display: none;
    }
}

   