|* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'K2D', sans-serif;
    background-color: #D3D3D3;
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }


.Carrosel {
    display: none;
}

.cabecalho {
    background-color: #FFFFFF21;
    height: 80px;
}

.logo {
    display: inline-block;
    width: 250px;
    height: 50px;
    padding: 10px;
}

.logo img {
    height: 100%;
    width: 100%;
}

.menuToggle {
    display: none;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 250px;
    padding: 25px;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all .5s;
}

.menu a:hover {
    border-bottom: 1px solid white;
}

body {
    margin: 0;
    font-family: 'K2D', sans-serif;
    background: rgb(0, 56, 112);
    padding: 0;

}


.main {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    align-items: top;
    justify-content: space-around;
    flex-direction: row;
    transition: 1s;



}

#primeira,
#segunda,
#terceira {
    width: 27vw;
    height: 35vh;
}


p {
    display: flex;
    justify-content: justify;
    align-items: center;
    width: 25vw;
    height: auto;
    background-color: #00000028;
    border-radius: 5px;
    color: white;
    transition: all.1s;
    padding: 10px;
    transition: 1s;
}

p:hover {
    width: 25vw;
    font-weight: thin;
    border: 2px solid white;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.fim {
    display: none;
    align-items: center;
    justify-content: center;

}

@media only screen and (orientation: portrait) {
    .main {
        display: none;
    }

    .Carrosel {
        display: flex;

    }


    #primeira,
    #segunda,
    #terceira {

        width: 87vw;
        height: 35vh;
    }

    .slider {
        margin: 0 auto;
        width: 80vw;
        height: 500px;
        overflow: hidden;

    }

    .slide {
        width: 80vw;
        height: 500px;
        display: flex;
        flex-direction: row;

    }

    .slide input {
        display: none;
    }

    .slide {
        width: 25%;
        position: relative;
     
    }

    .slide img {
        width: 359px;
       

    }

    .manual-navigation {
        position: absolute;
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0;
        padding-top: 2vh;
        transition: 2s;
    }

    .manual-btn {
        border: 2px solid white;
        padding: 1vw;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;

    }

    .manual-btn:not(:last-child) {
        margin-right: 30vw;
        display: block;
    }

    .manual-btn:hover {
        background-color: white;
    }

    #radio1:checked~.slide1 {
        margin-left: -2vw;
        transition: 4s;
    }

    #radio2:checked~.slide1 {
        margin-left: -90vw;
        transition: 4s;
    }

    #radio3:checked~.slide1 {
        margin-left: -176vw;
        transition: 1s;
    }

    p {

        width: 60vw;
        height: 5vh;
        padding: 20px;
        font-size: 11px;
        margin: 10%;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    p:hover {
        flex-direction: column;
        width: 60vw;
        border: 2px solid white;
    }

    h1 {
        display: flex;


    }

    .menu {
        display: none;
    }
}

@media(max-width: 760px) {
    .menu {
        display: none;
    }

    .menuToggle {
        float: right;
        margin: 20px 20px;
        display: inline;
    }
}